@import '~node_modules/modern-normalize/modern-normalize.css';
@import '../../node_modules/tui-pagination/dist/tui-pagination.css';
body {
  box-sizing: border-box;
  margin: 0 auto;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

.conteiner {
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .conteiner {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .conteiner {
    width: 1280px;
  }
}

.title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.header {
  position: fixed;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100vw;
  z-index: 10;
}

.header-conteiner {
  height: 230px;
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .header-conteiner {
    height: 216px;
  }
}

.header__menu {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}
@media screen and (min-width: 768px) {
  .header__menu {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__logo-img {
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 768px) {
  .header__logo-img {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo-img {
    margin-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) {
  .header__logo-title {
    font-size: 30px;
    color: #FFFFFF;
  }
}

.header__navigation {
  display: flex;
  justify-content: center;
}

.header__link {
  display: block;
  position: relative;
  color: #FFFFFF;
}

.header__link:not(:last-child) {
  margin-right: 40px;
}
@media screen and (min-width: 1280px) {
  .header__link:not(:last-child) {
    margin-right: 39px;
  }
}

.header__link--current::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #FF001B;
}

.search__form {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 16px;
  padding-bottom: 6px;
  border-bottom: 0.5px solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .search__form {
    width: 336px;
    padding-bottom: 4px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .search__form {
    width: 394px;
  }
}

.serch__input {
  border: none;
  width: 100%;
  color: #FFFFFF;
  background-color: inherit;
  outline: 0 !important;
}

.serch__input::-moz-placeholder {
  font-size: 14px;
}

.serch__input::placeholder {
  font-size: 14px;
}

.search__button {
  border: none;
  background-color: inherit;
}

.search__message {
  text-align: center;
  color: #FF001B;
  font-weight: 400;
  font-size: 14px;
}

.search__message.is-hidden {
  display: none;
}

.header-home {
  background-color: #FFFFFF;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/background-320@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .header-home {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/background-768@1x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .header-home {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/background-1280@1x.jpg);
  }
}

.header-library {
  background-color: #FFFFFF;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-header-320.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .header-library {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-header-768.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .header-library {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-header-1280.jpg);
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/background-320@2x.png);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/background-768@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (min-resolution: 192dpi) and (min-width: 1280px), screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/background-1280@2x.jpg);
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-library {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-header-320@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .header-library {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-header-768@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (min-resolution: 192dpi) and (min-width: 1280px), screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .header-library {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-header-1280@2x.jpg);
  }
}
@media screen and (max-width: 767px) {
  .header-library__menu {
    margin-bottom: 66px;
  }
}

.header-library__wrap {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header-library__wrap {
    justify-content: center;
  }
}

.header-library__btn {
  display: block;
  width: 130px;
  height: 44px;
  padding: 0px;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  background-color: inherit;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .header-library__btn {
    width: 152px;
  }
}
.header-library__btn:hover, .header-library__btn:focus {
  background-color: #FF6B01;
  box-shadow: 0px 8px 43px 0px rgba(255, 107, 1, 0.6);
}
@media screen and (min-width: 768px) {
  .header-library__btn:first-child {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .header-library__btn:first-child {
    margin-right: 16px;
  }
}

.gallery {
  padding-top: 250px;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 275px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding-top: 276px;
  }
}

.movie__set {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .movie__set {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .movie__set {
    gap: 16px;
  }
}

.movie__card {
  width: 100%;
  height: 443px;
  border-radius: 5px;
}
@media screen and (min-width: 320px) {
  .movie__card {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .movie__card {
    flex-basis: calc((100% - 32px) / 2);
    height: 494px;
  }
}
@media screen and (min-width: 1280px) {
  .movie__card {
    flex-basis: calc((100% - 32px) / 3);
    height: 634px;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 767px) {
  .movie__card:not(:last-child) {
    margin-bottom: 20px;
  }
}

.movie__img {
  display: block;
  width: 100%;
  height: 402px;
  margin-bottom: 10px;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .movie__img {
    height: 455px;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .movie__img {
    height: 574px;
    margin-bottom: 12px;
  }
}

.movie__title {
  margin-bottom: 4px;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}
@media screen and (min-width: 1280px) {
  .movie__title {
    font-size: 20px;
    line-height: 1.02;
  }
}

.movie__info {
  display: block;
  color: #FF6B08;
}
@media screen and (min-width: 1280px) {
  .movie__info {
    font-size: 20px;
    line-height: 1.02;
  }
}

.tui-pagination {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 280px;
  height: 40px;
  font-weight: inherit;
  font-size: 12px;
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .tui-pagination {
    width: 374px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .tui-page-btn.tui-prev-is-ellip.tui-first-child,
  .tui-page-btn.tui-next-is-ellip.tui-last-child {
    display: none;
  }
}

.tui-pagination .tui-first,
.tui-pagination .tui-first + .tui-prev {
  border: none;
}

.tui-pagination .tui-ico-prev {
  width: 18px;
  height: 30px;
  color: black;
}

.tui-pagination .tui-first,
.tui-pagination .tui-ico-first,
.tui-page-btn.tui-last,
.tui-pagination .tui-ico-last {
  display: none;
}

.tui-pagination .tui-page-btn {
  color: #000000;
  padding: 13px 11px;
}

.tui-page-btn.tui-is-disabled.tui-first,
.tui-pagination .tui-first {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
}

.tui-pagination .tui-is-disabled .tui-ico-prev,
.tui-pagination .tui-is-disabled .tui-ico-next {
  background-position: center;
}

.tui-pagination .tui-next + .tui-last,
.tui-pagination .tui-page-btn {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: none;
  text-align: center;
}

.tui-pagination .tui-is-disabled .tui-ico-last {
  background-position: center;
}

.tui-pagination .tui-ico-next {
  vertical-align: baseline;
  background: url("../images/arrow-right.png"), no-repeat;
  color: black;
  width: 16px;
  height: 16px;
}

.tui-pagination .tui-ico-prev {
  margin: 0 auto;
  vertical-align: baseline;
  background: url("../images/arrow-left.png"), no-repeat;
  width: 16px;
  height: 16px;
}

.tui-pagination .tui-next,
.tui-page-btn.tui-prev-is-ellip.tui-first-child {
  border: none;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  width: 40px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  background: #FF6B08;
  background-color: #FF6B08;
}

.tui-pagination .tui-last-child.tui-is-selected,
.tui-pagination .tui-first-child.tui-is-selected {
  border: none;
}

.footer {
  background-color: #F7F7F7;
}

.footer-conteiner {
  height: 100px;
}
@media screen and (min-width: 768px) {
  .footer-conteiner {
    height: 79px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-conteiner {
    height: 77px;
  }
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 29px;
  text-align: center;
  color: #545454;
  font-weight: 400;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .footer__info {
    flex-direction: row;
    justify-content: center;
    width: 482px;
    padding-top: 30px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-bottom: 10px;
  }
}

.footer__developed {
  margin: 0 auto;
  justify-content: center;
  display: flex;
}

.footer__developed-img {
  width: 14px;
  height: 13px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer__developed-text--withBtn {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .footer__developed-text--withBtn {
    width: 107px;
  }
}

.footer__developed-btn {
  display: block;
  border: none;
  padding: 0;
  background-color: inherit;
  color: #545454;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .footer__developed-btn {
    margin-left: 4px;
  }
}/*# sourceMappingURL=index.css.map */