@import '../../node_modules/modern-normalize/modern-normalize.css';
body {
  box-sizing: border-box;
  margin: 0 auto;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

.container {
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.header {
  position: fixed;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100vw;
  z-index: 10;
}

.header-home {
  background-color: #FFFFFF;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/background-320@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .header-home {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/background-768@1x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .header-home {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/background-1280@1x.jpg);
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/background-320@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/background-768@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (min-resolution: 192dpi) and (min-width: 1280px), screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/background-1280@2x.jpg);
  }
}
.header-container {
  height: 230px;
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .header-container {
    height: 216px;
  }
}

.header__menu {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}
@media screen and (min-width: 768px) {
  .header__menu {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__logo-img {
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 768px) {
  .header__logo-img {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo-img {
    margin-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) {
  .header__logo-title {
    font-size: 30px;
    color: #FFFFFF;
  }
}

.header__navigation {
  display: flex;
  justify-content: center;
}

.header__link {
  display: block;
  position: relative;
  color: #FFFFFF;
}

.header__link:not(:last-child) {
  margin-right: 40px;
}
@media screen and (min-width: 1280px) {
  .header__link:not(:last-child) {
    margin-right: 39px;
  }
}

.header__link--current::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #FF001B;
}

.search__form {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 16px;
  padding-bottom: 6px;
  border-bottom: 0.5px solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .search__form {
    width: 336px;
    padding-bottom: 4px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .search__form {
    width: 394px;
  }
}

.serch__input {
  border: none;
  width: 100%;
  color: #FFFFFF;
  background-color: inherit;
  outline: 0 !important;
}

.serch__input::-moz-placeholder {
  font-size: 14px;
}

.serch__input::placeholder {
  font-size: 14px;
}

.search__button {
  border: none;
  background-color: inherit;
}

.search__message {
  text-align: center;
  color: #FF001B;
  font-weight: 400;
  font-size: 14px;
}

.search__message.is-hidden {
  display: none;
}

.header__link:hover, .header__link:focus,
.header__logo:hover,
.header__logo:focus,
.search__button:hover,
.search__button:focus {
  cursor: pointer;
  transform: scale(1.2);
}

.is-hidden {
  display: none;
}

.header-library {
  background-color: #FFFFFF;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-header-320.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .header-library {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-header-768.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .header-library {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-header-1280.jpg);
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-library {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-header-320@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .header-library {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-header-768@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (min-resolution: 192dpi) and (min-width: 1280px), screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .header-library {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-header-1280@2x.jpg);
  }
}
@media screen and (max-width: 767px) {
  .header-library__menu {
    margin-bottom: 66px;
  }
}

.header-library__btn-container {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header-library__btn-container {
    justify-content: center;
  }
}

.header-library__btn {
  display: block;
  width: 130px;
  height: 44px;
  padding: 0px;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  background-color: inherit;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .header-library__btn {
    width: 152px;
  }
}
.header-library__btn:hover, .header-library__btn:focus {
  box-shadow: 0px 8px 43px 0px rgba(255, 107, 1, 0.6);
  transform: scale(1.1);
}
@media screen and (min-width: 768px) {
  .header-library__btn:first-child {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .header-library__btn:first-child {
    margin-right: 16px;
  }
}

.header-library__btn--active {
  background-color: #FF6B01;
  box-shadow: 0px 8px 43px 0px rgba(255, 107, 1, 0.6);
  border: none;
}
.header-library__btn--active:hover, .header-library__btn--active:focus {
  transform: scale(1);
}

.gallery__main.is-hidden {
  display: none;
}

.watched,
.queue {
  padding-top: 250px;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .watched,
  .queue {
    padding-top: 279px;
  }
}

.library__not-movie {
  padding-top: 200px;
  background-color: #FFFFFF;
}

.library__not-movie.is-hidden,
.watched.is-hidden,
.queue.is-hidden {
  display: none;
}

.watched__set,
.queue__set {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .watched__set,
  .queue__set {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .watched__set,
  .queue__set {
    gap: 16px;
  }
}

svg.intro {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 300px;
  background: inherit;
}
svg.intro .text {
  display: none;
}
svg.intro.go .text {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
}
svg.intro.go .text-stroke {
  fill: none;
  stroke: #eaa476;
  stroke-width: 2.8px;
  stroke-dashoffset: -600;
  stroke-dasharray: 600;
  stroke-linecap: butt;
  stroke-linejoin: round;
  animation: dash 2.5s ease-in-out forwards;
}
svg.intro.go .text-stroke:nth-child(2) {
  animation-delay: 0.3s;
}
svg.intro.go .text-stroke:nth-child(3) {
  animation-delay: 0.9s;
}
svg.intro.go .text-stroke-2 {
  stroke: #FF6B01;
  animation-delay: 1.2s;
}
svg.intro.go .text-stroke:nth-child(5) {
  animation-delay: 1.5s;
}
svg.intro.go .text-stroke:nth-child(6) {
  animation-delay: 1.8s;
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}
.gallery.is-hidden {
  display: none;
}

.gallery {
  padding-top: 250px;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 275px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding-top: 276px;
  }
}

.movie__set {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .movie__set {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .movie__set {
    gap: 16px;
  }
}

.movie__card {
  width: 100%;
  height: 450px;
  border-radius: 5px;
  transition: box-shadow 0.25s linear;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(200, 200, 200, 0.8);
}
@media screen and (min-width: 320px) {
  .movie__card {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .movie__card {
    flex-basis: calc((100% - 32px) / 2);
    height: 494px;
  }
}
@media screen and (min-width: 1280px) {
  .movie__card {
    flex-basis: calc((100% - 32px) / 3);
    height: 659px;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 767px) {
  .movie__card:not(:last-child) {
    margin-bottom: 20px;
  }
}
.movie__card:hover, .movie__card:focus {
  cursor: pointer;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
}

.movie__thumb {
  width: 280px;
  height: 402px;
  overflow: hidden;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .movie__thumb {
    width: 336px;
    height: 455px;
  }
}
@media screen and (min-width: 1280px) {
  .movie__thumb {
    width: 394px;
    height: 574px;
  }
}

.movie__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.25s linear;
}
.movie__card:hover .movie__img, .movie__card:focus .movie__img {
  transform: scale(1.03);
}

.movie__description {
  height: 45px;
  padding: 8px;
}
@media screen and (min-width: 1280px) {
  .movie__description {
    height: 85px;
  }
}

.movie__title {
  margin-bottom: 4px;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}
@media screen and (min-width: 1280px) {
  .movie__title {
    font-size: 20px;
    line-height: 1.02;
  }
}

.movie__info {
  display: block;
  color: #FF6B08;
}
@media screen and (min-width: 1280px) {
  .movie__info {
    font-size: 20px;
    line-height: 1.02;
  }
}

.tui-pagination.is-hidden {
  display: none;
}

.tui-pagination {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 280px;
  height: 40px;
  font-weight: inherit;
  font-size: 12px;
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .tui-pagination {
    width: 374px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .tui-page-btn.tui-prev-is-ellip.tui-first-child,
  .tui-page-btn.tui-next-is-ellip.tui-last-child {
    display: none;
  }
}

.tui-pagination .tui-first,
.tui-pagination .tui-first + .tui-prev {
  border: none;
}

.tui-pagination .tui-ico-prev {
  width: 18px;
  height: 30px;
  color: #000000;
}

.tui-pagination .tui-first,
.tui-pagination .tui-ico-first,
.tui-page-btn.tui-last,
.tui-pagination .tui-ico-last {
  display: none;
}

.tui-pagination .tui-page-btn {
  color: #000000;
  padding: 13px 11px;
}

.tui-page-btn.tui-is-disabled.tui-first,
.tui-pagination .tui-first {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
}

.tui-pagination .tui-is-disabled .tui-ico-prev,
.tui-pagination .tui-is-disabled .tui-ico-next {
  background-position: center;
}

.tui-pagination .tui-next + .tui-last,
.tui-pagination .tui-page-btn {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: none;
  text-align: center;
}

.tui-pagination .tui-is-disabled .tui-ico-last {
  background-position: center;
}

.tui-pagination .tui-ico-next {
  vertical-align: baseline;
  background: url("../images/arrow-right.png"), no-repeat;
  color: #000000;
  width: 16px;
  height: 16px;
}

.tui-pagination .tui-ico-prev {
  margin: 0 auto;
  vertical-align: baseline;
  background: url("../images/arrow-left.png"), no-repeat;
  width: 16px;
  height: 16px;
}

.tui-pagination .tui-next,
.tui-page-btn.tui-prev-is-ellip.tui-first-child {
  border: none;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  width: 40px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  background: #FF6B08;
  background-color: #FF6B08;
}

.tui-pagination .tui-last-child.tui-is-selected,
.tui-pagination .tui-first-child.tui-is-selected {
  border: none;
}

.footer {
  background-color: #F7F7F7;
}

.footer-container {
  height: 100px;
}
@media screen and (min-width: 768px) {
  .footer-container {
    height: 79px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-container {
    height: 77px;
  }
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 29px;
  text-align: center;
  color: #545454;
  font-weight: 400;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .footer__info {
    flex-direction: row;
    justify-content: center;
    width: 482px;
    padding-top: 30px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-bottom: 10px;
  }
}

.footer__developed {
  margin: 0 auto;
  justify-content: center;
  display: flex;
}

.footer__developed-img {
  width: 14px;
  height: 13px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer__developed-text--withBtn {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .footer__developed-text--withBtn {
    width: 107px;
  }
}

.footer__developed-btn {
  display: block;
  border: none;
  padding: 0;
  background-color: inherit;
  color: #545454;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .footer__developed-btn {
    margin-left: 4px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__window {
  position: absolute;
  display: block;
  margin: 0 auto;
  top: 0;
  left: calc((100vw - 320px) / 2);
  height: 1318px;
  width: 320px;
  transform: translate(0%, 0%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #FFFFFF;
  color: #000000;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .modal__window {
    box-sizing: border-box;
    width: 704px;
    top: 219px;
    left: calc((100vw - 704px) / 2);
    height: 552px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__window {
    width: 806px;
    height: 558px;
    top: 140px;
    left: calc((100vw - 806px) / 2);
  }
}
.backdrop.is-hidden .modal__window {
  transform: translate(0%, 0%) scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__header {
  height: 230px;
  padding-top: 36px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/modal-header-320@1x.jpg);
}
@media screen and (min-width: 768px) {
  .modal__header {
    display: none;
  }
}

.modal__container {
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .modal__container {
    padding-left: 32px;
    padding-right: 72px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__container {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.modal__header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header__close-btn {
  background-color: inherit;
  border: none;
  width: 44px;
  height: 44px;
  padding: 0;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: inherit;
}
@media screen and (max-width: 767px) {
  .modal__close-btn {
    display: none;
  }
}

.btn-header__icon {
  fill: #FFFFFF;
}

.btn__icon {
  fill: #000000;
}

.modal__movie-container {
  padding-top: 20px;
}
@media screen and (max-width: 767px) {
  .modal__movie-container {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .modal__movie-container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }
}

.modal-img__container {
  width: 280px;
}
@media screen and (max-width: 767px) {
  .modal-img__container {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .modal-img__container {
    width: 264px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-img__container {
    width: 375px;
  }
}

.modal__img {
  width: 280px;
  height: 416px;
  margin: 0 auto;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .modal__img {
    width: 264px;
    height: 374px;
    margin: 0;
    margin-right: 68px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__img {
    width: 375px;
    height: 478px;
  }
}

@media screen and (min-width: 768px) {
  .modal-info__container {
    display: block;
    width: 264px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-info__container {
    width: 391px;
  }
}

.modal-window__movie-info {
  margin-bottom: 40px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .modal-window__movie-info {
    max-height: 464px;
    margin-bottom: 20px;
  }
}

.modal-window__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

.movie-info__list {
  margin-bottom: 10px;
}

.movie-info__item {
  display: flex;
  justify-content: flex-start;
}

.movie-info__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .movie-info__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

.movie-info__type {
  width: 108px;
  color: #8C8C8C;
  line-height: 1.14;
}
@media screen and (min-width: 1280px) {
  .movie-info__type {
    width: 152px;
  }
}

.movie-info__text {
  width: -moz-max-content;
  width: max-content;
}

.movie-info__text--flex {
  display: flex;
  align-items: baseline;
}

.movie-info__text-orange {
  box-sizing: border-box;
  display: block;
  width: 36px;
  text-align: center;
  margin: 0 auto;
  padding: 1px 9px;
  margin-right: 2px;
  border-radius: 5px;
  background-color: #FF6B01;
  color: #FFFFFF;
  line-height: 1;
}

.movie-info__text--title {
  max-width: 173px;
  text-transform: uppercase;
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .movie-info__text--title {
    max-width: 108px;
  }
}

.modal__request-video {
  display: block;
  width: 136px;
  height: 44px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid #000000;
  background-color: inherit;
}
.modal__request-video:hover, .modal__request-video:focus {
  color: #FF001B;
  background-color: #FF6B01;
  color: #FFFFFF;
  border: none;
}
.modal__request-video.is-hidden {
  display: none;
}

.movie-info__about {
  font-weight: 500;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.movie-info__text-about {
  line-height: 1.42;
}
@media screen and (min-width: 768px) {
  .movie-info__text-about {
    max-height: 150px;
    overflow: auto;
  }
}
@media screen and (min-width: 1280px) {
  .movie-info__text-about {
    max-height: 160px;
    overflow: auto;
  }
}

.modal-container__btns {
  display: flex;
  justify-content: center;
}

.modal__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 44px;
  padding: 0;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid #000000;
  background-color: inherit;
}
.modal__btn.is-active {
  padding: 3px;
  background-color: #FF6B01;
  color: #FFFFFF;
  border: none;
}

.modal__btn:first-child {
  margin-right: 15px;
}

.modal__request-video:hover, .modal__request-video:focus,
.modal-header__close-btn:hover,
.modal-header__close-btn:focus,
.modal__close-btn:hover,
.modal__close-btn:focus,
.modal__btn:hover,
.modal__btn:focus {
  cursor: pointer;
  transform: scale(1.1);
}/*# sourceMappingURL=main.css.map */