$transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
$opacity: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
$visibility: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

$primaryColor: #FFFFFF;
$primaryTextColor: #000000;
$attentionColor: #FF001B;
$buttonColor: #FF6B08;
$activBtnColor: #FF6B01;
$footerTextColor: #545454;
$linearGradientColor: rgba(0, 0, 0, 0.56);