<footer class="footer">
    <div class="conteiner footer-conteiner">
      <div class="footer__info">
      <p class="footer__copyright">&copy; 2020 | All Rights Reserved | </p>
      <div class="footer__developed">
          <p class="footer__developed-text">Developed with</p>
          <img class="footer__developed-img"
          srcset="./images/heart-14.png 1x,
                  ./images/heart-14@2x.png 2x"
          src="./images/heart-14.png"
          alt="The little orange heart"/>
          <p class="footer__developed-text footer__developed-text--withBtn">by 
            <button class="footer__developed-btn" type="button">GoIT Students</button>
          </p>
        <!-- modal window -->
      </div>
      </div>
    </div>
</footer>