<section class="gallery__main is-hidden js-gallery-main">
  <h2 class="gallery__title title--hidden">My library</h2>
  
    <div class="container library__not-movie is-hidden js-library-not-movie">
      <svg class="intro" viewbox="0 0 200 86">               
        <text x="50%" y="30" text-anchor="middle" class="text text-stroke" clip-path="url(#text1)">there are</text>
        <text x="50%" y="50" text-anchor="middle" class="text text-stroke" clip-path="url(#text2)">no films</text>
        <text x="50%" y="70" text-anchor="middle" class="text text-stroke" clip-path="url(#text3)">here...</text>
        <text x="50%" y="30" text-anchor="middle" class="text text-stroke text-stroke-2" clip-path="url(#text1)">there are</text>
        <text x="50%" y="50" text-anchor="middle" class="text text-stroke text-stroke-2" clip-path="url(#text2)">no films</text>
        <text x="50%" y="70" text-anchor="middle" class="text text-stroke text-stroke-2" clip-path="url(#text3)">here...</text>
        <defs>
          <clipPath id="text1">
            <text x="50%" y="30" text-anchor="middle" class="text">there are</text>
          </clipPath>
          <clipPath id="text2">
            <text x="50%" y="50" text-anchor="middle" class="text">no films</text>
          </clipPath>
          <clipPath id="text3">
            <text x="50%" y="70" text-anchor="middle" class="text">here...</text>
          </clipPath>
        </defs>
      </svg>
    </div>
  
    <div class="container watched js-library-watched">
      <h3 class="gallery__title title--hidden">Watched</h3>

      <ul class="watched__set js-watched-set">
      </ul>
    </div>

    <div class="container queue js-library-queue">
      <h3 class="gallery__title title--hidden">Queue</h3>

      <ul class="queue__set js-queue-set">
      </ul>

    </div>
</section>