<section class="gallery__main is-hidden js-gallery-main">
  <h2 class="gallery__title title--hidden">My library</h2>
  
    <div class="container library__not-movie is-hidden js-library-not-movie">
      <p class="library__message-not-movie">Not movie</p>
    </div>
  
    <div class="container watched js-library-watched">
      <h3 class="gallery__title title--hidden">Watched</h3>

      <ul class="watched__set js-watched-set">
      </ul>
    </div>

    <div class="container queue js-library-queue">
      <h3 class="gallery__title title--hidden">Queue</h3>

      <ul class="queue__set js-queue-set">
      </ul>

    </div>
</section>