<div class="backdrop js-backdrop is-hidden">
    <div class="modal__window js-modal-window">
      <div class="modal__header">
        <div class="modal__container">
          <a class="header__logo header__logo--link header__logo-modal" href="./index.html">
            <img class="header__logo-img" 
              srcset="./images/logo-modal-24@1x.png 1x,
                      ./images/logo-modal-24@1x.png 2x"
              src='./images/logo-modal-24@1x.png'
              alt="Filmoteka website logo as a piece of film"/>
          </a>
          <button type="button" class="modal-header__close-btn js-modal-header-close">
            <svg class="btn-header__icon" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 10L34 34" stroke="white" stroke-width="2"/>
              <path d="M10 34L34 10" stroke="white" stroke-width="2"/>
            </svg>
          </button>
        </div>
      </div>

      <button type="button" class="modal__close-btn js-modal-close">
        <svg class="btn__icon" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 8L22 22" stroke="black" stroke-width="2"/>
          <path d="M8 22L22 8" stroke="black" stroke-width="2"/>
        </svg>
      </button>
      
      <div class="modal__container modal__movie-container js-modal-window-movie-container">
        <div class="modal-img__container js-modal-img-container"></div>
        <div class="modal-info__container js-modal-info-container">
          <div class="modal-window__movie-info js-modal-movie-info"></div>
         
          <div class="modal-container__btns">
            <button type='button' class="modal__btn js-modal-btn-watched"></button>
            <button type='button' class="modal__btn js-modal-btn-queue"></button>
          </div>
        </div>
      </div>
    </div>
  </div>